
body {
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-weight: 100;
    font-size: 12px;
    line-height: 30px;
    color: #777;
    background: #cf2984;
  }
  
.container {
    max-width: 70%;
    width: 100%;
    margin: 0 auto;
    position: relative;
  }
  
  
#contact {
    background: #F9F9F9;
    padding: 25px;
    margin: 150px 0;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }
  
#contact h3 {
    display: block;
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 10px;
  }
 
  
fieldset {
    border: medium none ;
    margin: 0 0 10px;
    min-width: 100%;
    padding: 0;
    width: 100%;
  }
  
label {
    width:180px;
    clear:left;
    text-align:right;
    padding-right:10px;
}

input, label {
    float:left;
}
#contact input[type="text"],
#contact input[type="email"],
#contact input[type="password"] {
    width: 30%;
    border: 1px solid #ccc;
    background: #FFF;
    margin: 0 0 5px;
    padding: 5px;
  }
   
#contact button[type="submit"] {
    cursor: pointer;
    width: 20%;
    border-radius: 10px;
    background: rgb(252, 101, 0);
    color: #FFF;
    margin-left: 40%;
    margin-top: 2%;
    padding: 10px;
    font-size: 15px;
  
  }
#contact input:focus{
    outline: 0;
    border: 1px solid #aaa;
  }
    
#title{
    text-align: center;
    color: rgb(252, 101, 0);
  }

  #error-fname,
  #error-lname,
  #error-age,
  #error-email,
  #error-password,
  #error-cpassword{
    color: red;
    padding-left: 10px;
  }
